/*importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */


  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    width: 1160px;
    margin: auto;
    background-color: #ffffff;
    box-sizing: border-box;
}

header , footer {
    background-color: rgb(23, 171, 179);
    text-align: center;
}

/*****
 mise en page header
 ****/

.container-header {
    color:#ffffff;
    display: flex;
}

/* lien du header */
a {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
}

.container-header p {
    align-self: center;
    flex-basis: 27%;
}

.container-header div {
    flex-basis: 75%;
}

.photo-cv {
    border: #ffffff solid 0.4rem;
    border-radius: 50%;
    width: 40%;
    cursor: zoom-in;
}

h1 {
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 4px;
    padding-left: 2%;
}

h3 {
    color: #17abb3;
    font-size: 1.3em;
    margin: 2em auto 10px auto;
}

h1,h2,h3,h4 {
    font-family:"lato", sans-sérif;
}

.icone {
    max-width: 16px;
    border: none;
    border-radius: 0;
    padding-right: 0.4rem;
}

address {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin-left: 8%;
    font-style: normal;
}

address :first-child {
    text-align: justify;
    flex-basis: 20%;
}

address :last-child {
    text-align: start;
    flex-basis: 20%;
}

section li {
    list-style-type: none;
    margin: 6px 0;
}

section li::before {
    content: '■';
    color: #17abb3;
    margin-right: 10px;
}

section ul {
    padding-left: 0;
}

 /****
 mise en page aside et main 
 ****/
 
main {
    display: flex;
}

aside p {
    font-style: normal;
    margin: 4px;
}

main p {
    font-style: normal;
    margin-top:1px;
}

main aside {
    background-color: #e3e3e3;
    flex-basis:85%;
    padding-left: 2rem;
    padding-right: 2rem;
}

hr {
    border: 2px solid rgb(51,51,51,0.1);
    margin-bottom: 1.5em;
}

.section-principal {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 80px;
}

.justify-description {
    text-align: justify;
    text-indent: 2em;
}

.align-text-end {
    display: flex;
    flex-direction: column;
}

/***
aside
***/

.star {
    color: #17abb3;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.flex-container p {
    font-weight: bold;
}

aside div em {
    font-style: normal;
}

article  div small {
    font-style: italic;
    letter-spacing: -0.5px;
}

/***
layout text section
***/

.flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-top: 25px;
}

.hover {
    position: relative;
}

.hover:hover {
    background-color: #e3e3e3;
    padding: 0 1em;
}

.hover:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #17abb3;
}

/*color date*/
.color {
    color: #17abb3;
    font-weight: 500;
}

/***
footer
 ***/

nav {
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}

nav img {
    max-width: 20px;
    max-height: 20px;
}

nav img:hover {
    opacity: 0.7;
}

nav p {
    margin-top: 1em;
}

footer p {
    color: #f5f5f5;
    padding-bottom: 1em;
    margin-top: 0.1em;
}

footer nav :nth-child(2) {
    width: 20px;
}

@media screen and (max-width:600px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    header, main,footer {
        display: block;
    }
}